/*  :root represents the <html> element and is identical to the selector html, except that its specificity is higher. */
:root {
  box-sizing: border-box;
  font-size: 62.5%;
  /*  ADD VARIABLES HERE  */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* margin: 0 auto;
    padding: 0 20px; */
  font-size: 1.6rem;
}

.wrapper {
  display: grid;
  grid-template-areas: 'sidebar main';
  grid-template-columns: 300px 1fr;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.sidebar {
  grid-area: sidebar;
  /* background-color: orange; */
  margin: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  /* position: relative; */
  height: 90vh;
}

.logo {
  /* text-align: center; */
  font-size: 3.2rem;
}

.logo-butterfly {
  width: 25px;
  height: 26px;
  color: #f0817b;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 3.2rem;
}

.social-media {
  display: flex;
  /* position: absolute; */
  /* bottom: 0; */
}

.social-media-icons {
  height: 1.6rem;
  margin-right: 1.6rem;
}

.main {
  grid-area: main;
  background-color: orange;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 3.2rem;
}

.card {
  background-color: palegreen;
  width: 300px;
  padding: 3.2rem;
}

.card__image {
  width: 100%;
}

@media (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-areas:
      'sidebar'
      'main';
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
  }
}
